html,
body,
ul,
li,
div {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
}
ul,
li {
  list-style: none;
}
#el-top {
  border-radius: 0;
  margin-bottom: 0;
}
#el-top div.navbar-header a {
  color: #fff;
  font: 24px "微软雅黑";
}
#el-top ul li a {
  color: #fff;
  font: 16px "微软雅黑";
}
#el-top ul li a:hover {
  color: #00a8ff;
}
#menubar {
  border-radius: 0;
  margin: 0;
}
#menubar div.container ul li a {
  display: block;
  min-width: 94px;
  height: 80px;
  text-align: center;
  font: 16px/50px "微软雅黑";
}
#menubar div.container div.navbar-brand {
  padding-top: 20px;
}
#slideimg {
  width: 1328px;
  margin: 8px auto;
}
/*广告*/
div.ads-list::after {
  content: "";
  display: block;
  clear: both;
}
div.ads-list div.ads-list-01 {
  padding-left: 80px;
  height: 75px;
  margin-bottom: 20px;
  float: left;
  font-family: "微软雅黑";
  background: url(../images/feature01.png) no-repeat left center;
}
div.ads-list div.ads-list-01 h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
}
div.ads-list div.ads-list-01 p {
  color: #999;
}
div.ads-list div.ads-list-02 {
  padding-left: 80px;
  height: 75px;
  margin-bottom: 20px;
  float: left;
  font-family: "微软雅黑";
  background: url(../images/feature02.png) no-repeat left center;
}
div.ads-list div.ads-list-02 h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
}
div.ads-list div.ads-list-02 p {
  color: #999;
}
div.ads-list div.ads-list-03 {
  padding-left: 80px;
  height: 75px;
  margin-bottom: 20px;
  float: left;
  font-family: "微软雅黑";
  background: url(../images/feature03.png) no-repeat left center;
}
div.ads-list div.ads-list-03 h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
}
div.ads-list div.ads-list-03 p {
  color: #999;
}
/*到期还款*/
#money-list div.el-panel {
  border: 0;
}
#money-list div.el-panel::befor,
#money-list div.el-panel::after {
  content: "";
  display: block;
  clear: both;
}
#money-list div.el-panel div.panel-heading {
  border-width: 0 0 1px 0 ;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 15px;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
}
#money-list div.el-panel div.panel-heading div.left-title {
  font: bold 24px "微软雅黑";
  color: #2e8ece;
}
#money-list div.el-panel div.panel-heading div.left-title span {
  display: block;
  padding: 2px;
  border-bottom: 4px solid #2e8ece;
}
#money-list div.el-panel div.panel-heading div.right-title {
  font: 14px "微软雅黑";
  padding-right: 10px;
  cursor: pointer;
}
#money-list div.el-panel div.panel-heading div.right-title a {
  color: #2e8ece;
  line-height: 40px ;
}
#money-list div.el-panel div.panel-heading div.right-title a:hover {
  text-decoration: none;
}
#money-list div.el-panel table {
  font-family: "微软雅黑";
}
#money-list div.el-panel table thead th {
  vertical-align: bottom;
}
#money-list div.el-panel table tbody td {
  vertical-align: middle;
}
#money-list div.el-panel table tbody .info {
  background: transparent;
  color: #2e8ece;
}
#money-list div.el-panel-sm div.panel-heading {
  border-width: 0 0 1px 0 ;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 15px;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  border-bottom: 1px solid #E0E0E0;
}
#money-list div.el-panel-sm div.panel-heading div.left-title {
  font: bold 24px "微软雅黑";
  color: #2e8ece;
}
#money-list div.el-panel-sm div.panel-heading div.left-title span {
  display: block;
  padding: 2px;
  border-bottom: 4px solid #2e8ece;
}
#money-list div.el-panel-sm div.panel-heading div.right-title {
  font: 14px "微软雅黑";
  padding-right: 10px;
  cursor: pointer;
}
#money-list div.el-panel-sm div.panel-heading div.right-title a {
  color: #2e8ece;
  line-height: 40px ;
}
#money-list div.el-panel-sm div.panel-heading div.right-title a:hover {
  text-decoration: none;
}
#money-list div.el-panel-sm ul li {
  list-style: none;
  height: 40px;
  border-bottom: 1px solid #CCCCCC;
  box-sizing: border-box;
}
#money-list div.el-panel-sm ul li a {
  width: 100%;
  display: block;
  height: 100%;
  font: 14px "微软雅黑";
  line-height: 40px;
  color: #333333;
}
#money-list div.el-panel-sm ul li a::befor,
#money-list div.el-panel-sm ul li a::after {
  content: "";
  display: block;
  clear: both;
}
#money-list div.el-panel-sm ul li a:hover {
  color: #2e8ece;
}
footer {
  background: #f8f8f8;
  padding-top: 30px;
}
footer div.infolist ul li {
  padding: 5px;
}
footer div.infolist ul li a {
  padding-right: 10px;
}
#menu{
	margin-top: 8px;
}
#menu .list-group-item{
	background: #F5F5F5;
}
#innerul li{
	height: 50px;
	padding-left: 40px;
	padding-top: 16px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}
#innerul .active {
	background:#2e8ece ;
}
#innerul .active a{
	color: #fff;
}
.col-sm-9{
	margin-top: 8px;
}
.el-head-img{
	margin-right: 30px;
	width: 100px;
	height: 100px;
	border: 1px solid #CCCCCC;
}
.el-head-img img{
	display: block;
text-align: center;
margin:13px auto;
	width: 75px;
	height: 75px;
}
.el-accoun-auth-left{
	margin:0 16px 10px 10px;
}
.el-accoun-auth-right h5{
	font-weight: bold;
}
